{
    "URL_SITE" : "https://sistema.pcmidiaooh.com.br",
    "URL_API": "https://pcmidia-dev.minasforce.com.br/?ng=tv-api",
    "API_KEY": "key_api_value",
    "URL_WEBSOCKET" : "wss://sistema.pcmidiaooh.com.br:8888",
    "URL_CACHE_DEPENDENCE" :"",
    "URL_CHROMIUM_DOWNLOAD": "https://sistema.pcmidiaooh.com.br/application/storage/dependencies-app/local-chromium.zip",
    "USER_NAME_INSTAGRAM" : "",
    "USER_PASSWORD_INSTAGRAM" : "",
    "NAME_FOLDER_DATA" : "data",
    "NAME_FOLDER_LOGS" : "logs",
    "SYSTEM" : "WINDOWS",
    "VERSION_TYPE": "release"
}